.cursor-pointer {
  cursor: pointer;
}

.card .tags {
  position: absolute;
  top: 10px;
  left: 10px;
}

.modal-polio .title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
}

.modal-polio .sub-title {
  opacity: 0.8;
}